html
	height: 100%

body
	margin: 0
	background-color: #dbf2fa
	min-height: 100%

.header
	display: flex
	align-items: center
	justify-content: space-around
	background-color: #0088cc
	height: 10%
	.logo
		font-size: 2em
		font-weight: 500

	&-nav
		width: 20%
		display: flex
		justify-content: space-between
		&-link
			color: black
			text-decoration: none
			font-size: 1.3em
		&-link:hover
			color: white
			text-decoration: underline

.container
	position: relative
	margin: 5% auto 
	width: 80%
	height: 60%
	max-height: 100%//посмотреть на этот параметр
	
	.main
		display: flex
		align-items: flex-start
		justify-content: space-around
		width: 100%
		height: 100%
		padding: 10px
		.tasks
			display: flex
			flex-direction: column
			width: 25%
			min-height: 100%
			border-radius: 5px
			&-header
				text-align: center
				margin-bottom: 10px
			&-field
				width: 100%
				height: 100%

		.new-tasks
			border: 2px solid #006600
			&-header
				background-color: #99cc33
				display: flex
				align-items: center
				justify-content: center
				.open-modal-button
					position: relative
					left: 20%
					&:hover
						background-color: #339900
						color: white
		.progress-tasks
			border: 2px solid #cccc00
			&-header
				background-color: #cc9900
		.finished-tasks
			border: 2px solid #999999
			&-header
				background-color: #cccccc

.button
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	border: none
	width: 35px
	height: 35px
	&:focus
		outline: none

.modal-task
	position: absolute
	display: flex
	align-items: center
	justify-content: center
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 2
	background-color: rgba(0,0,0,0.4)
	&-control
		display: flex
		flex-direction: column
		align-items: center
		width: 25%
		height: 50%
		padding: 10px
		background-color: #fff
		border-radius: 10px
		.close-button-container
			width: 100%
			height: 100%
		.control-body
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-around
			width: 100%
			height: 100%
		.add-task-text
			width: 50%
			height: 40%
			resize: none
			margin-bottom: 20px
		.close-button
			position: relative
			left: 100%
			top: -5%
			background-color: #990000
			color: white
		.close-button:hover
			background-color: #cc0000

		.add-task-button
			width: 50%
			padding: 10px
			background-color: #00cc33
			border: 2px solid #009966
			border-radius: 5px
			&:hover
				background-color: #00ff15

.task
	width: 80%
	margin: 0 auto 10px
	border: 2px solid green
	border-radius: 5px
	background-color: rgba(174, 252, 86, 0.8)
	&-text
		font-size: 1.1em
		font-weight: 500
		padding: 5px

.unvisible
	display: none
