body
	margin: 0
	background-color: #f2f8fc 
	transition-duration: 300ms

.header
	display: flex
	align-items: center
	justify-content: space-around
	background-color: #131c24
	min-height: 10%
	padding: 2vh 0
	margin-bottom: 5%
	color: white
	.logo
		font-size: 2em
		font-weight: 500
		cursor: pointer

	&-nav
		width: 20%
		display: flex
		justify-content: space-between
		&-link
			text-decoration: none
			font-size: 1.3em
			margin-right: 5%
			color: inherit
		&-link:hover
			text-decoration: underline
	
.main
	display: flex
	align-items: center
	justify-content: space-around
	width: 80%
	margin: auto
	min-height: 60%
	padding-bottom: 5%

.task-frame
	width: 300px
	height: 500px
	border: 3px solid #0c1217
	border-radius: 3px

.settings-container
	width: 40%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding: 2vh	
	border: 1px solid #0c1217
	.submit-btn
		margin-top: 5%
	
	.setting-option
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

		.switch-btn 
			display: inline-block
			width: 36px /* ширина */
			height: 19px /* высота */
			border-radius: 19px /* радиус скругления */
			background: #bfbfbf /* цвет фона */
			z-index: 0
			margin: 0
			padding: 0
			border: none
			cursor: pointer
			position: relative
			transition-duration: 300ms /* анимация */

		.switch-btn::after 
			content: ""
			height: 16px /* высота кнопки */
			width: 16px/* ширина кнопки */
			border-radius: 17px
			background: #fff /* цвет кнопки */
			top: 1.5px /* положение кнопки по вертикали относительно основы */
			left: 1.5px /* положение кнопки по горизонтали относительно основы */
			transition-duration: 300ms /* анимация */
			position: absolute
			z-index: 1
		
		.switch-on 
			background: #118c4e
		
		.switch-on::after 
			left: 18.5px

.dark-theme
	background-color: #5D5C61 
	color: white
	transition-duration: 300ms